$main-bg-color: #202020;
$border-color: #393939;
$white: #ffffff;
header {
	background-color: $main-bg-color;
  color: $white;
  border-bottom: 2px solid $border-color;
  .wrapper {
    display: flex;
    align-items: center;
    width: auto;
  }
  svg {
    fill: $white;
    margin-right: 10px;
  }
  .auth {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-right: 15px;
    padding: 0 10px;
    border-right: 2px solid $border-color;
    border-left: 2px solid $border-color;
  }
  .separator {
    margin: 0 10px;
  }
}


.cart {
  position: relative;
  width: 25px;
  height: 25px;
  .quantity {
    position: absolute;
    top: -30%;
    left: -30%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #e62429;
  }
}

