<div class="random-char">
  <div class="thumb">
    <img
      [src]="
        randomCharacter?.thumbnail?.path +
        '.' +
        randomCharacter?.thumbnail?.extension
      "
      [alt]="randomCharacter?.name + ' image'"
    />
  </div>
  <div>
    <h2 class="character-name">{{ randomCharacter?.name }}</h2>
    <p>{{ randomCharacter?.description }}</p>
  </div>
  <div class="wrapper">
    <h2>Get your random character now!</h2>
    <button type="button" class="btn" (click)="setRandomChar()">TRY IT</button>
  </div>
</div>
