<article *ngIf="currentComic">
  <div class="thumb">
    <img
      [src]="
        currentComic.thumbnail.path + '.' + currentComic.thumbnail.extension
      "
      [alt]="currentComic.name + ' image'"
    />
  </div>
  <h2><span>Name: </span>{{ currentComic.name }}</h2>
  <p>
    <span>Description: </span>
    {{ currentComic.description ? currentComic.description : "Unknown" }}
  </p>
  <a [routerLink]="['/comic', currentComic.id]" class="btn">
    <span class="fragment transform">
      <span class="inner-fragment large"></span>
      <span class="inner-fragment small"></span>
    </span>
    <span class="link-title"><span>GET MORE INFO</span></span>
    <span class="fragment">
      <span class="inner-fragment large"></span>
      <span class="inner-fragment small"></span>
    </span>
  </a>
</article>
<div class="test"></div>
<article *ngIf="!currentComic">
  <div class="thumb">
    <span class="skeleton-image skeleton"></span>
  </div>
  <h2 class="skeleton-title skeleton"></h2>
  <p class="skeleton-description skeleton"></p>
</article>
