:host {
  display: block;
  margin-left: auto;
  margin-bottom: auto;
  position: sticky;
  top: 15px;
}

article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
  background-color: #fff;
  border-radius: 3px;
  .thumb {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  img {
    width: 200px;
    border-radius: 3px;
  }
  h2 {
    font-weight: 400;
    margin-bottom: 5px;
  }
  span {
    font-weight: 800;
  }
  .skeleton {
    background-color: rgb(179, 179, 179);
  }
  .skeleton-image {
    width: 200px;
    height: 200px;
    border-radius: 3px;
  }
  .skeleton-title, .skeleton-description {
    height: 16px;
    width: 100%;
    border-radius: 3px;
  }
}

.btn {
  overflow: hidden;
  display: flex;
  width: 160px;
  flex-direction: column;
  justify-content: center;
  margin-top: 15px;
  color: #fff;
  height: 48px;
  .fragment {
    height: calc(100% / 3);
    width: 100%;
    display: flex;
    position: relative;
  }
  .inner-fragment {
    height: 100%;
    overflow: hidden;
  }
  .link-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% / 3);
    background-color: #e62429;
    font-size: 14px;
    width: 100%;
  }
  .small {
    width: 16px;
    position: relative;
  }
  .large {
    width: 144px;
    background-color: #e62429;
  }
  .transform {
    transform: rotate(180deg);
  }
  .transform-fragment {
    position: absolute;
    bottom: 4px;
    right: 4px;
    width: 16px;
    height: 16px;
    border-left: 12px solid transparent;
    border-right: 12px solid #e62429;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    transform: rotate(45deg);
  }
  &:hover .large, &:focus .large, &:hover .link-title, &:focus .link-title {
    background-color: #9e1e23;
  }
  &:hover .transform-fragment, &:focus .transform-fragment {
    border-right: 12px solid #9e1e23;
  }
}

