<ul class="characters-container">
  <li *ngFor="let item of characterList$ | async">
    <button type="button" (click)="onCLick(item)">
      <div class="thumb">
        <img
          [src]="item.thumbnail.path + '.' + item.thumbnail.extension"
          [alt]="item.title + ' image'"
          height="180"
        />
      </div>
      <div class="card-body">
        <h2>{{ item.title }}</h2>
        <div class="overlay"></div>
      </div>
    </button>
  </li>
</ul>
<button
  type="button"
  class="btn"
  [disabled]="!isValidOffset"
  (click)="addCharacters()"
>
  SHOW MORE
</button>
