<div class="cart-modal">
  <div class="cart-header">
    <div class="wrapper">
      <h2>Cart</h2>
      <button class="close-btn" type="button" (click)="closeCart()">X</button>
    </div>
  </div>
  <ul class="cart">
    <li class="cart-item" *ngFor="let item of cart$ | async">
      <app-cart-item
        [item]="item"
        (editItem)="editItem($event, item.id)"
      ></app-cart-item>
    </li>
  </ul>
  <div class="cart-footer">
    <span class="total-price"
      >Total price: {{ totalPrice.toFixed(2) + ' $' }}</span
    >
    <button class="check-out" type="button" (click)="checkout()">
      Check out
    </button>
  </div>
</div>
<div class="overlay" (click)="closeCart()"></div>
