<div class="comic">
  <div class="overlay-container">
    <img
      class="bg-image"
      [src]="comic?.thumbnail?.path + '.' + comic?.thumbnail?.extension"
      [alt]="comic?.title + ' image'"
    />
    <div class="overlay"></div>
  </div>
  <div class="container">
    <div class="comic-content">
      <div class="thumb">
        <img
          [src]="comic?.thumbnail?.path + '.' + comic?.thumbnail?.extension"
          [alt]="comic?.title + ' image'"
        />
      </div>
      <div class="comic-info">
        <h2>{{ comic?.title }}</h2>
        <ul class="info-container">
          <li *ngFor="let item of comic?.creators">
            <h3>{{ item.role + ':' | firstLetter }}</h3>
            <span>{{ item.name }}</span>
          </li>
        </ul>
        <p>{{ comic?.description }}</p>
      </div>
    </div>
  </div>
</div>
